<template>
<div id="app">
  <v-app id="home-inspire">
  <div class="collection-navigation">
  <v-icon @click="dec(colors)" small class="black--text">fa-long-arrow-alt-up</v-icon>
  <div class="pt-10 black--text slide-number">0{{ model+1 }}</div>
  <v-icon small class="black--text">fa-minus</v-icon>
  <div class="pb-10 black--text slide-number">0{{ colors.length }}</div>
  <v-icon @click="ince(colors)" small class="black--text">fa-long-arrow-alt-down</v-icon>
  </div>
  <div class="view-more">
  <v-btn x-large rounded color="white">
    <router-link :to="links" class="black--text detail-link px-7">VIEW MORE</router-link>
  </v-btn>
  </div>
  <router-link :to="'/'" class="logo">My Logo</router-link>
  <div class="about">
    <span class="about-text">about</span>
  </div>
  <div class="row">
    <div class="col-md-6 pa-0">
      <v-carousel v-model="model" :reverse="carouselOne" :vertical="true" :show-arrows="false" hide-delimiters height="100%" id="big-carousel">
      <v-carousel-item v-for="(color) in colors" :key="color.id">
      <v-sheet :color="color.myitem" height="100%" tile>
      </v-sheet>
      </v-carousel-item>
      </v-carousel>
    </div>
    <div class="col-md-6 pa-0 d-flex lighten-1 bg-tarnsition" :class="bgcolor">
      <v-carousel v-model="model" :reverse="carouselTwo" :vertical="true" :show-arrows="false" hide-delimiters id="sm-carousel" class="mx-auto align-self-center">
      <v-carousel-item v-for="color in colors" :key="color.id">
      <v-sheet :color="color.myitem" height="100%" tile>
      </v-sheet>
      </v-carousel-item>
      </v-carousel>
    </div>
  </div>
  </v-app>
</div>
</template>

<script>
import { string } from 'prop-types'
export default {
  name: 'Home',
  data () {
    return {
      colors: [
        { 'id': 1, 'myitem': 'red', 'link': 'www.google0.com', 'text': 'CMYK' },
        { 'id': 2, 'myitem': 'green', 'link': 'www.google1.com', 'text': 'CMYK' },
        { 'id': 3, 'myitem': 'blue', 'link': 'www.google2.com', 'text': 'CMYK' },
        { 'id': 4, 'myitem': 'yellow', 'link': 'www.google3.com', 'text': 'CMYK' },
        { 'id': 5, 'myitem': 'pink', 'link': 'www.google4.com', 'text': 'CMYK' }
      ],
      model: 0,
      bgcolor: string,
      x: 0,
      y: 0,
      links: string,
      carouselOne: false,
      carouselTwo: true
    }
  },
  methods: {
    dec: function (dec) {
      this.carouselOne = true
      this.carouselTwo = false
      if (this.model > 0) { this.model-- } else { this.model = this.colors.length; this.model-- }
      this.bgcolor = dec[this.model]['myitem']
      this.links = dec[this.model]['link']
    },
    ince: function (ince) {
      this.carouselOne = false
      this.carouselTwo = true
      this.model++
      if (this.model === this.colors.length) { this.bgcolor = ince[0]['myitem']; this.links = ince[0]['link'] }
      if (this.model < this.colors.length) { this.bgcolor = ince[this.model]['myitem']; this.links = ince[this.model]['link'] }
    },
    key: function (e) {
      if (e.key === 'ArrowUp') { if (this.model > 0) { this.model-- } else { this.carouselOne = true; this.carouselTwo = false; this.model = this.colors.length; this.model-- } this.bgcolor = this.colors[this.model]['myitem']; this.links = this.colors[this.model]['link'] } else if (e.key === 'ArrowDown') { this.carouselOne = false; this.carouselTwo = true; this.model++; if (this.model < this.colors.length) { this.bgcolor = this.colors[this.model]['myitem']; this.links = this.colors[this.model]['link'] }; if (this.model === this.colors.length) { this.bgcolor = this.colors[0]['myitem']; this.links = this.colors[0]['link'] } }
    }
  },
  created () {
    this.bgcolor = this.colors[this.model]['myitem']
    this.links = this.colors[this.model]['link']
    window.addEventListener('keyup', this.key)
  }
}
</script>

<style scoped>
#home-inspire #sm-carousel{
    width: 50%;
}

.collection-navigation {
    position: absolute;
    width: 15px;
    top: 50%;
    right: 5vw;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    pointer-events: all;
    transition: opacity .3s;
    text-align: center;
}

.fa-long-arrow-alt-up:before, .fa-long-arrow-alt-down:before{
  transition: all 5s linear;
}

.fa-long-arrow-alt-up:hover:before{
  position: relative;
  top: -5px;
}

.fa-long-arrow-alt-down:hover:before{
  position: relative;
  bottom: -5px;
}

.bg-tarnsition{
  transition: all .3s ease-out !important;
}

.v-window-item, .button-hover{
  transition: all .6s ease-out;
}

.position-relative{
  position: relative;
}

.view-more {
  position: absolute;
  top: 50%;
  left: 25%;
  z-index: 1;
  transform: translate(-50%, -25%);
}

.view-more a {
  text-shadow: 0px 1.5px 3px;
}

.logo {
    position: absolute;
    top: calc(2vw - 1rem);
    left: calc(5vw - 1rem);
    padding: 1rem;
    display: block;
    color: #fff;
    z-index: 100;
    cursor: pointer;
    transition: color .7s .5s cubic-bezier(.19,1,.22,1),opacity .3s;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}

.about {
    position: absolute;
    top: calc(2vw - 0.7rem);
    right: calc(5vw - 1rem);
    display: inline-block;
    z-index: 5;
    padding: 1rem;
    cursor: pointer;
    transition: opacity .3s .3s,visibility 0s .3s;
    pointer-events: all;
}

.about-text {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.about:after {
    position: absolute;
    top: 2.5rem;
    left: 1rem;
    content: '';
    display: block;
    width: 3.8rem;
    height: 2px;
    background: #091533;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: -webkit-transform .3s cubic-bezier(.19,1,.22,1);
    transition: transform .3s cubic-bezier(.19,1,.22,1);
    transition: transform .3s cubic-bezier(.19,1,.22,1), -webkit-transform .3s cubic-bezier(.19,1,.22,1);
}

.about:hover:after {
  -webkit-transform: translate3d(0,3px,0);
  transform: translate3d(0,3px,0);
}

.detail-link {
  text-decoration: none;
}

.slide-number {
  font-family: 'Teko', sans-serif;
  font-size: 1.2rem;
}
</style>
