<template>
    <v-content>
      <router-view></router-view>
    </v-content>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
html{
  overflow-y: hidden !important;
}
</style>
